@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#__next,
main {
    @apply w-full h-full;
}

.primary-solid-button {
    --background-color: #4682b4 !important;
    --text-color: #fff !important;
    --border-color: #4682b4 !important;
    --border-radius: 0.5rem !important;
}

.primary-outline-button {
    --background-color: #fff !important;
    --text-color: #708090 !important;
    --border-color: #708090 !important;
    --border-radius: 0.5rem !important;
    ;
}

.firstPage .adm-list-body {
    border-top: none !important;
    border-bottom-color: #a0a0a0 !important;
}

.firstPage .adm-list {
    padding: 0px 27px !important;
}

.firstPage .adm-list-item {
    padding-left: 0 !important;
}

.firstPage .adm-list-item-content-prefix {
    width: auto !important;
    padding: 1.4rem 0.875rem 0.825rem 0 !important;
}

.firstPage .adm-list-item-content-extra {
    padding-top: 0.7rem !important;
}

.firstPage .adm-list-item-content-main {
    padding: 0 !important;
    padding-top: 1.15rem !important;
}

.firstPage .adm-list-item-content {
    border-top-color: #a0a0a0 !important;
    padding-top: 1.25rem !important;
}

.addshop .resources_id .adm-list-item-content {
    border: none !important;
}

.firstPage .adm-list-item:first-of-type .adm-list-item-content {
    padding-top: 0 !important;
}

.firstPage .adm-input-element::placeholder {
    color: #708090 !important;
    font-size: 18px !important;
    font-weight: 300;
}

.firstPage .adm-form-footer {
    padding: 0 !important;
}

.home-cards-wrapper {
    transform: translateY(-1.3125rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-card {
    width: 320px;
    height: 63px;
    background: #ffffff;
    border-radius: 15px;
    margin-bottom: 12px;
}

@media all and (max-width: 375px) {
    .home-cards-wrapper {
        transform: translateY(-3.5rem);
    }
}

.home-center-icon {
    width: 52.5px;
    height: 52.5px;
    background: #4682b4;
    border-radius: 50%;
    @apply flex items-center justify-center;
}

.home-center-icon-wrapper {
    transform: translateY(-2rem);
}

.footer-tool-wrapper {
    margin-right: 1.6875rem;
}

.first-tool-wrapper {
    margin-right: 2.4375rem;
}

.shop .adm-tabs-header {
    border-bottom-width: 0;
}

.shopDetail .adm-capsule-tabs-header,
.shopDetail .adm-capsule-tabs-tab-wrapper {
    padding: 0;
}

.shopDetail .adm-capsule-tabs-tab-list {
    justify-content: space-between;
}

.shopDetail .adm-capsule-tabs-tab-wrapper {
    width: 31%;
    flex-grow: 0;
}

.shopDetail .adm-capsule-tabs-tab {
    border-radius: 10px;
}

.tablePage .adm-dropdown-item-title {
    justify-content: space-between;
    width: 100%;
}

.tablePage .adm-dropdown-item .adm-dropdown-item-title-arrow {
    font-size: 12px;
}

.farm .adm-dropdown {
    background-color: #F3F3F7;
    border: 1px solid #E3E3E3;
}

.farm .adm-dropdown-item .adm-dropdown-item-title {
    padding: 2px 5px;
}

.farm-content .adm-dropdown-item .adm-dropdown-item-title {
    padding: 11px 14px;
}

.MuiBox-root .css-1walhad-MuiButtonBase-root-MuiButton-root {
    background-color: #1976d2!important;
}